body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background: #83a4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: blue;
  text-align: center;
}

#instructions {
  color: black;
  text-align: center;
}

#sort_venue {
  background-color: gradient(0, 5, 120);
  color: black;
  font-weight: bold;
  border: 2px solid #3475ee;
  height: 30px;
  width: 150px
}

div {
  color: black;
  text-align: center;
  padding: 50px 0;
}