<link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
<table class="table">
    <p>
        <caption class="time">Venues as of {{time}}</caption>
    </p>
    <tr>
        <th scope="col">Venue Name</th>
        <th scope="col">Venue Address</th>
        <th scope="col">Delivery Price</th>
        <th scope="col">Open</th>
        <th scope="col">Score</th>
        <th scope="col">Price Range</th>
        <th scope="col">Time Estimate</th>
    </tr>
    {% for venue in form_data %}
    <tr>
        <td>{{venue.title}}</td>
        <td>{{venue.address}}</td>
        <td>{{venue.delivery_price}}</td>
        <td>{{venue.status}}</td>
        <td>{{venue.score}}</td>
        <td>{{venue.price_range}}</td>
        <td>{{venue.estimate
    }}</td>
    </tr>
    {% endfor %}
</table>