<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Wolt Sort App</title>
</head>

<body>
    <h1>Welcome to Wolt Sort App!</h1>
    <p>
        <h2 id="instructions">Instructions</h2>
        <h4 id="instructions">1. Enter your address in your native language(Use Google Maps!).</h4>
        <h4 id="instructions">2. Select your sorting method.</h4>
        <h4 id="instructions">3. Check "Hide Closed" if you wish to see open venues only.</h4>
        <h4 id="instructions">4. Click on "Sort Venues" to see results.</h4>
    </p>
    <div>
        <form action="/data" method="POST">
            <p>Address <input type="text" name="Address" /></p>
            <p>
                <input type="radio" name="options" value="o0" checked="checked"> Lowest time estimate </input>
                <input type="radio" name="options" value="o1"> Cheapest delivery price </input>
                <input type="radio" name="options" value="o2"> Highest rating score </input>
                <input type="radio" name="options" value="o3"> Cheapest price rating </input>
                <input type="radio" name="options" value="o4"> Closest by distance </input>
            </p>
            <p><input type="checkbox" name="hide_closed" checked="checked" />Hide Closed</input<br>
            </p>
            <p><input type="submit" value="Sort Venues" id="sort_venue" /></p>
        </form>
    </div>
</body>
<footer>
    <p><a href="https://github.com/GeosMeos" target="_blank">Visit My GitHub Page</a></p>
</footer>

</html>